.search-bar {
  display: flex;
  position: relative;

  #suggestion-modal {
    margin-top: rem(40px);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: rem(10px);

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: rem(20px);

      img {
        width: rem(70px);
        height: rem(95px);
        margin-right: rem(10px);
        border-radius: rem(5px);
      }
    }
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: rem(4px) rem(10px);
  border-radius: rem(5px);
  font-family: $font-primary;
  background: $dark-grey;

  &:focus {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: $primary-white;
    color: $primary-black;
  }

  &__icon {
    color: $primary-grey;
  }

  &__input {
    border: none;
    background: transparent;
    margin: 0;
    padding: rem(7px) rem(8px);
    @include fontSize("b2");
    color: $primary-grey;
    border: 1px solid transparent;
    border-radius: inherit;
    outline: none;
  }
}
