.movie-detail {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;

    &__item {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(20px);
      border-top: rem(1px) solid $border-grey;
      padding: rem(16px) rem(16px) 0 0;

      .description {
        max-width: 70%;
        text-align: justify;

        @include mq(md) {
          max-width: 100%;
        }
      }

      h3 {
        color: $medium-grey;
        text-transform: uppercase;
        margin-bottom: rem(20px);
      }
    }
  }
}
