.navbar {
  position: sticky;
  display: flex;
  width: 100%;
  top: 0;
  margin: 0 auto;
  z-index: 100;

  background: rgb(0, 0, 0, 0.1);
  min-height: rem(50px);
  max-height: rem(105px);
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
  }

  &__link {
    color: $primary-grey;
    margin: 0 15px;
    font-family: $font-primary;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__search {
    z-index: 1;
  }
}
