.favourites-container {
  width: 100%;
  position: absolute;
  background: $dark-grey;
  z-index: 9999;
  padding: rem(10px);
  color: $primary-white;
  font-family: $font-primary;
  margin-top: rem(50px);

  &__inner{
    overflow-y: scroll;
    max-height: 50vh;
  }

  &__title {
    padding: rem(5px);
    border-bottom: 1px solid white;

    h2 {
      @include fontSize("a1");
    }
  }
}

.favourites-button {
  z-index: 9;
  color: #fff;
  opacity: 0.5;
  position: absolute;
  font-size: 33px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
