$rem8: rem(8px);

.calendar-icon{
  width: rem(46px);
  height: rem(45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: rem(8px);
  margin-inline-start: rem(20px);

  &__month{
    font-weight: 700;
    background-color: $primary-red;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
    text-align: center;
    @include fontSize("b5");
    line-height: rem(14px);
  }

  &__date{
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    color: #000;
    text-align: center;
   @include fontSize("a1");
    line-height: rem(32px);
  }
}
