$rem5: rem(5px);

.card{
  position: relative;
  display: flex;
  overflow: hidden;
  background: #0a151f;
  transition: opacity .1s ease;
  border-radius: $rem5;
  width: 200px;
  margin: $rem5;

  img{
    opacity: 0.7;
  }

  img:hover{
    opacity: 1;
    cursor: pointer;
  }

  img:active{
    opacity: 0.4;
  }
}
