.movie-details-page {

  &__box {
    border-top-right-radius: rem(16px);
    display: flex;
    border-top-left-radius: rem(16px);
    padding: rem(25px) rem(25px) 0;
    width: 100%;
    background: $dark-grey;
    border-top: rem(1px) solid $dark-grey;
    position: relative;
    z-index: 9999;
    margin: rem(-75px) auto 0;
    box-sizing: border-box;
  }

  &__header {
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .left{
    border: 1px solid white;
    width: 100%;
    padding: rem(10px);
  }

  .card {
    width: 50vh;
    height: 80vh;
  }
}
