$primary-grey: #999c9f;
$dark-grey: #060d17;
$primary-white: #ffffff;
$primary-red: #bb1e1e;
$primary-black: #000000;
$primary-blue: #1e71bb;

$primary_yellow: #fbc500;

$shadow-color: #c8cad1;
$border-opacity: rgb(151, 151, 151, 0.1);
