@charset "utf-8";

@import "tools/tools.index";
@import "settings/settings.index";
@import "utilities/utilities.index";
@import "generics/generics.index";
@import "elements/elements.index";
@import "components/components.index";
@import "pages/pages.index";
@import "common/common.modal";
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
