.u-lyt {
  background: $dark-grey;
  min-height: 100vh;
}
.hidde {
  display: none;
}

.u-opacity0 {
  opacity: 0;
}

.pg-lyt {
  @include fluidValue("margin-left", "s-120");
  @include fluidValue("margin-right", "s-120");
  color: white;
  display: block;
}
